body{font-family: Calibri;}

.class2 {
    background: green;
}

.workspace {
    margin-bottom: 45px;
}

.container {
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
}

.quiz_add_form_title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.quiz_add_form_input_title {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

.quiz_add_form input[type="text"] {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.quiz_add_form_section {
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.quiz_add_form_answer_labels {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 24px;
}

.quiz_add_form_answer_title {
    font-weight: bold;
    margin-bottom: 4px;
}

.quiz_add_form_answer {
    margin-bottom: 25px;
}

.ui_button {
    padding: 15px;
    border: none;
    color: white;
    border-radius: 4px;
    background: red;
    min-width: 150px;
    cursor: pointer;
    transition: all 0.4s;
}

.ui_button:hover {
    opacity: 0.9;
}
.alert{padding: 20px}
.alert-success{color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;}


.question_block{padding: 15px; border: 1px solid lightgrey; margin-bottom: 40px;
    position: relative;}
.question_block_title{font-size: 20px; font-weight: bold;  margin-bottom: 25px;  border-bottom: 1px solid lightgrey; padding-bottom: 25px;}

.question_block_answers{display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 24px; margin-bottom: 15px;}

.question_block_answer label{width: 100%; display: block; padding:10px; box-sizing: border-box;;
    background: lightgrey;}

.question_block_result{text-align: center;  margin-bottom: 5px;}
.question_block_result{}

.qusetion_learned_button{
    position: absolute; bottom: 30px; right: 30px;}


@media (max-width: 780px) {
    .question_block_answers{display: grid; grid-template-columns: repeat(1,1fr); grid-gap: 24px; margin-bottom: 15px;}

}
